<%-include('partials/header-auth')%>

<div class="row mt-4">

    <form action="">
        <div class="mb-3">
        
            <label for="" class="form-label">Title</label>
            <input type="text" name="title" class="form-control">

        </div>

        <div class="mb-3">
            <label for="" class="form-label">Body content</label>
            <textarea name="body" id="" class="form-control"></textarea>
        </div>
    </form>

</div>

<%-include('partials/footer')%>