<%- include('partials/header') %>

<div class="row mt-4">

    <div class="col-12">
        <h2 class="mb-2">Hello <%-username%>, your feed is empty</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus officiis rerum aspernatur corporis atque odio accusantium quidem, laudantium cumque! Quaerat suscipit hic molestiae, ipsam dolor voluptate nostrum doloribus ea laborum?</p>
    </div>
    
</div>

<%- include('partials/footer') %>